<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="1.1.2" targetFramework="net481" />
  <package id="Azure.Core" version="1.44.1" targetFramework="net481" />
  <package id="Azure.Data.AppConfiguration" version="1.5.0" targetFramework="net48" />
  <package id="Azure.Identity" version="1.13.1" targetFramework="net481" />
  <package id="Azure.Messaging.EventGrid" version="4.28.0" targetFramework="net48" />
  <package id="Azure.Security.KeyVault.Keys" version="4.7.0" targetFramework="net481" />
  <package id="Azure.Security.KeyVault.Secrets" version="4.7.0" targetFramework="net481" />
  <package id="DnsClient" version="1.8.0" targetFramework="net48" />
  <package id="Ensure.That" version="10.1.0" targetFramework="net481" />
  <package id="Microsoft.Azure.KeyVault" version="3.0.5" targetFramework="net481" />
  <package id="Microsoft.Azure.KeyVault.Core" version="3.0.5" targetFramework="net481" />
  <package id="Microsoft.Azure.KeyVault.WebKey" version="3.0.5" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.AzureAppConfiguration" version="6.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Identity.Client" version="4.66.2" targetFramework="net48" />
  <package id="Microsoft.Identity.Client.Extensions.Msal" version="4.66.2" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="8.2.1" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.24" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.19" targetFramework="net48" />
  <package id="Microsoft.VisualBasic" version="10.3.0" targetFramework="net481" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net481" />
  <package id="Neo4j.Driver.Extensions" version="1.0.14" targetFramework="net481" />
  <package id="Neo4j.Driver.Signed" version="5.18.1" targetFramework="net48" />
  <package id="Neo4jClient" version="5.1.17" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
  <package id="System.ClientModel" version="1.2.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.0" targetFramework="net48" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net481" />
  <package id="System.IO" version="4.3.0" targetFramework="net481" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net481" />
  <package id="System.IO.Pipelines" version="9.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.0" targetFramework="net48" />
  <package id="System.Memory.Data" version="9.0.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net481" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.ProtectedData" version="9.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net481" />
  <package id="System.Text.Encoding.CodePages" version="9.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
</packages>